@model HospitalDef.Models.Doctor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Doctor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CedulaProf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CedulaProf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdConsultorioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdConsultorioNavigation.IdConsultorio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEmpleadoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEmpleadoNavigation.IdEmpleado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEspecialidadNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEspecialidadNavigation.IdEspecialidad)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdDoctor">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
