@model IEnumerable<HospitalDef.Models.Doctor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CedulaProf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdConsultorioNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEmpleadoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEspecialidadNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CedulaProf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdConsultorioNavigation.IdConsultorio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEmpleadoNavigation.IdEmpleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEspecialidadNavigation.IdEspecialidad)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdDoctor">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdDoctor">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdDoctor">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
