@model HospitalDef.Models.HistorialMedicoPaciente

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HistorialMedicoPaciente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Peso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Peso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Altura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Altura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alergias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alergias)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoSangre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoSangre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Padecimientos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Padecimientos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPacienteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPacienteNavigation.IdPaciente)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdHistorialMedicoPaciente">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
