@model IEnumerable<HospitalDef.Models.HistorialMedicoPaciente>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Peso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Altura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alergias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoSangre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Padecimientos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPacienteNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Peso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Altura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alergias)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoSangre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Padecimientos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPacienteNavigation.IdPaciente)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdHistorialMedicoPaciente">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdHistorialMedicoPaciente">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdHistorialMedicoPaciente">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
