@model IEnumerable<HospitalDef.Models.HistorialMedicoPaciente>

@{
    ViewData["Title"] = "Index";
}

<h1>Datos medicos</h1>

<p>
    <a asp-action="Create">Actualizar tus datos</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Peso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Altura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alergias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoSangre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Padecimientos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPacienteNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Peso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Altura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alergias)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoSangre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Padecimientos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPacienteNavigation.IdPaciente)
            </td>
                <td class="text-center">
                    <div class="btn-group" role="group" aria-label="Acciones">
                        <a asp-action="Edit" asp-route-id="@item.IdHistorialMedicoPaciente" class="btn btn-outline-primary btn-sm">
                            <i class="fas fa-pen"></i>
                        </a>
                        <a asp-action="Details" asp-route-id="@item.IdHistorialMedicoPaciente" class="btn btn-outline-primary btn-sm">
                            <i class="fas fa-eye"></i>
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.IdHistorialMedicoPaciente" class="btn btn-outline-danger btn-sm">
                            <i class="fas fa-trash"></i>
                        </a>
                    </div>
                </td>
                
        </tr>
}
    </tbody>
</table>
<div class="text-center mt-3">
    <a asp-controller="Pacientes" asp-action="Index" class="btn btn-secondary">Regresar</a>
</div>